html {
  background-color: #EDEFEE;
}

body {
  width: 95%;
  font-family: "Markazi Text", Karla;
  max-width: 1440px;
  padding: 0;
  margin: auto;
}

@media screen and (max-width: 400px) {
  body {
    width: 100%;
    margin: 0;
  }
}